.box-content {
    width: 15rem;
    height: 15rem;
    box-shadow: 0 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    border-radius: 5px;
    margin-top: 2rem;
    transition: all 1s;
}

.box-content:hover {
    height: 25rem;
    transition: all 1s;
}

.box-content span {
    font-family: 'Libre Franklin';
    font-size: 1.1rem;
}

.box-content:hover span {
    margin-top: -5rem;
    transition: all 1s;
}

.img-content {
    width: 12rem;
    height: 8rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-content {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: 'Libre Franklin';
    font-size: 4rem;
    transform: rotate(0deg);
    transition: all .3s;
}

.box-content:hover .plus-content {
    transform: rotate(90deg);
    transition: all .3s;
    color: transparent;
}

.description-content {
    color: transparent;
    font-size: 1rem;
}

.box-content:hover .description-content {
    color: black;
    margin-top: -10rem;
    transition: all 1s;
}

.img-content img {
    width: 10rem;
    height: 5rem;
}

@media (min-width: 701px) {
    .box-content {
        margin-right: 5rem;
    }
}